@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 216 26% 96%;
    --foreground: 0 0% 12%;
    --card: 216 26% 96%;
    --card-foreground: 0 0% 12%;
    --popover: 216 26% 96%;
    --popover-foreground: 0 0% 12%;
    --primary: 136 100% 40%;
    --primary-foreground: 136 65% 91%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 195 10% 60%;
    --muted: 0 0% 100%;
    --muted-foreground: 195 10% 60%;
    --accent: 197 33% 96%;
    --accent-foreground: 195 10% 60%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 136 100% 40%;
    --radius: 1.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 210 5% 8%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 5% 8%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 180 4% 5%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .test {
    @apply border border-red-500;
  }
}
